# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Visual Studio related (user-specific)
.vs/
*.suo
*.user

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Flutter Version Management
.fvm/

# Flutter Windows generated ephemeral files
windows/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.js.map

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Rust build artifacts
rust/target/
*.dll
*.so
*.dylib
